:root {
  --primary-color: #4B0082;
  --secondary-color: #7732AD;
  --password-field-color: #5F259F;
  --background-color: #c9c9fb;
  --white: #FFFFFF;
}

.App {
  text-align: center;
}

body {
  background-color: var(--background-color);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
}


h2 {
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  width: 350px;
  height: auto;
  border-radius: 15px;
  padding: 20px 20px 50px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.password-field {
  background-color: var(--password-field-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 60px;
  width: 100%;
  border: 5px solid var(--secondary-color);
  box-sizing: border-box;
}

.password-field .btn {
  position: absolute;
  top: 30%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin: 10px;
}

.btn {
  display: block;
  width: 100%;
  border: none;
  background-color: var(--secondary-color);
  color: var(--white);
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.btn#generate {
  margin: 20px 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.modal.show {
  display: block;
}

.modal-content {
  font-weight: 700;
  border-radius: 10px;
  background-color: var(--secondary-color);
  margin: 15% auto;
  padding: 20px;
  border: none;
  width: 30%;
  text-align: center;
}